//
// @author      : {{NAME}} ({{EMAIL}})
// @file        : {{FILE}}
// @created     : {{TIMESTAMP}}
//

#include <iostream>

int main(int argc, char const* argv[])
{
  {{CURSOR}}
  std::cout << "hello, world!" << std::endl;
  return 0;
} // main
